body {
    padding: 0;
    margin: 0;
    width: 360px;
    height: 480px;
    margin: 0 auto ;

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: black;

    background: #FFE3ED;
}